*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background:white;

}
#nav{
    height: 100px;
    width: 100%;
    background-image: url(d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
#nav h3{
    font-size: 16px;
    border:1.5px solid black;
    border-radius: 50px;
    padding: 7px 12px;
    font-weight: 500;
    cursor: pointer;
    hover:background-color rgb(147, 20, 20);
}
#nav i{
    font-size: 16px;
    border:2px solid black;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: 500;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5 solid #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#btn2{
    background: orangered;
    color :white;
    border : none;

}
#text{
    font-size: 80px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 1;
    text-align: center;
    width: 3000px;
    

}
img{
    height: 300px;
    width: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
h5{
    position: absolute;
    bottom: 5%;
    left: 2%;
    text-transform: uppercase;
    font-weight: 1;
}
#last{
    position: absolute;
    bottom: 5%;
    right: 2%;
    text-transform: uppercase;
    font-weight: 1;
}
nav button:hover{
    background-color: lawngreen;

}